body {
    background-color: whitesmoke;
}

/* Add a black background color to the top navigation */
.nav {
    background-color: lightslategrey;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Arial Narrow";
}

/* Change the color of links on hover */
.nav a:hover{
    background-color: #ddd;
    color: black;
}

/* Add style to the Aston Events link */
.nav a.heading {
    background-color: darkslategray;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
    font-size: 17px;
}

/* Search box and button */
.form-wrapper {
    float: right;
    margin-right: 15px;
    font-family: "Arial Narrow";
}

/* Style the search box inside the navigation bar */
.form-wrapper input[type=text] {
    float: left;
    padding: 12px 40px;
    margin-top: 14px;
    margin-left: 2px;
    font-size: 18px;
    border: none;
    border-radius: 35px;
    outline: none;
}

/*Style the my account button */
.form-wrapper input[type=submit], .form-wrapper #account, .form-wrapper #logout, .form-wrapper #dashbtn {
    float:none;
    background-color: darkslategray;
    color: white;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 14px;
    margin-left: 2px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    outline: none;
}
/*Style the logout button*/
.form-wrapper #logout {
    float:right;
}
/*Hover over color of buttons */
.form-wrapper input[type=submit]:hover, .form-wrapper #account:hover, .nav a.heading:hover, #sign:hover, #functions:hover, #logout:hover,
#listfunction:hover, #list:hover, #add:hover, #update:hover, #remove:hover, #deletebtn:hover, #updatebtn:hover, #dashbtn:hover, #sort:hover {
    color: lightblue;
}

#infobtn:hover, #likebtn:hover  {
    color: lightcoral;
}
/* Style the top container */
.container {
    width: 100%;
    background-color: whitesmoke;
    color: darkslategrey;
}

/* Style the jumbotron container */
.jumbotron {
    margin-top: 10px;
    padding: 20px;
    background-color: lightslategray;
    border-radius: 15px;

}

.container #table {
    margin: 0 auto;
    width: 35%;
    border-radius: 15px;
    background-color: whitesmoke;
}

#listfunction {
    width: 100%;
    background-color: whitesmoke;
    color: darkslategrey;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* Style Login Form.html*/
#email, #pwd, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
}
.container #login {
    border-radius: 20px;
    width: 50%;
    font-family: "Arial Narrow";
}
#sub, #sign {
    width: 100%;
    background-color: darkslategrey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
/* Style Register Form.html */
.container #form{
    margin: 0 auto;
    width: 50%;
    border-radius: 15px;
    font-family: "Arial Narrow";
}

#fname, #lname, #email, #number, #degree, #country, #password, #confirmpassword, #subject{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
}

/* Style Buttons */
#deletebtn, #updatebtn  {
    width: 100%;
    background-color: darkslategrey;
    color: whitesmoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#list, #add, #update, #remove {
    width: 100%;
    background-color: darkslategrey;
    color: whitesmoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#sort {
    width: 50%;
    background-color: darkslategrey;
    color: whitesmoke;
    padding: 11px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#filter {
    float: left;
    width: 50%;
}

    /* Style EventsForm.php */
#category, #eventname, #description, #time, #organisername, #date, #location, #ranking, #image{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
}

/* Style EventsDelete.php */
#delete_name, #delete_organiser, #delete_id {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
}
.jumbotron #eventsdelete {
    border-radius: 20px;
    width: 50%;
    font-family: "Arial Narrow";
}

/* Style EventsUpdate.php */
#update_event, #id, #event_time {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
}

.jumbotron #eventsupdate {
    border-radius: 20px;
    width: 50%;
    font-family: "Arial Narrow";
}

/* Style EventList.php */
input[type=button] {
    background-color: lightblue;
    border: none;
}

/* Style the Table */
.container #table {
    border-radius: 15px;
    font-family: "Arial Narrow";
    border: none;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: "Arial Narrow";
    font-size: 15px;
}

td, th {
    border: 3px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-family: "Agency FB";
    font-size: 125%;

}

tr:nth-child(even) {
    background-color: whitesmoke;
}

/* Style OrganiserDashboard.php */
h1, h2, h3, h4, h5 {
    color: darkslategrey;
    font-family: "Agency FB";
}
#welcome {
    margin-left: 15px;
    font-family: "Agency FB";
}

/* Style ContactUs.php  Form */
textarea {
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 15px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#likebtn {
    float:right;
}

.column {
    float:left;
    width:50%;
    padding: 3px;
}

.row::after {
    content: "";
    clear:both;
    display: table;
}

.column td {
    font-size: 150%;
    font-family: "Agency FB";
}

.records td {
    text-align: left;
}
/* When the screen is less than 1200px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 1000px) {
    /* Style navigation bar */
    .nav a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        padding: 17px;
    }
    .nav a.heading {
        padding: 15px;
    }
    .form-wrapper input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
        margin-bottom: 3px;
    }
    .form-wrapper input[type=submit], .form-wrapper #account, .form-wrapper #logout, .form-wrapper #dashbtn {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
        margin-bottom: 2px;
    }
    .form-wrapper {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        padding: 14px;
    }
    /*Login Form*/
    .container #login {
        width: 100%
    }
    /*Register Form*/
    .container #form {
        width: 100%;
    }
    /* Style OrganiserDashboard.php */
    .container #table {
        width: 100%;
    }
    /* Style Tables layout */
    table {
        width: 100%
    }

    td, th {
        border: 3px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: darkgrey;
    }

}




